<template>
    <b-container >
        <b-row align="v-center">
            <b-col v-for="result in results" :key="result.id">
                <b-card
                    :title=result.title
                    :img-src=result.thumbnail
                    img-top
                    tag="article"
                    style="max-width: 20rem;"
                    class="mb-2 mt-5"
                >
                <b-card-text class="text">
                    {{result.description}}
                </b-card-text>
                <b-button :href=result.id target="_blank" variant="primary">Go to site</b-button>
                </b-card>
            </b-col>
        </b-row>
    </b-container>
</template>
<script>
export default {
    props:{
        results: Array
    },
    
}
</script>

<style>

.text {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 5;
   -webkit-box-orient: vertical;
}
</style>