<template>
    <b-container>  
        <b-input 
            tvpe="text" 
            v-model="search" 
            placeholder="Look for youtube's video"
        
        />
        <b-button 
            class="mt-5"
            variant="light"
            @click="retrieveSearch()"
        >SEARCH
        </b-button>
        <card :results="results" />
        <b-alert v-if="err" show variant="danger">{{err}}</b-alert>     
  </b-container>
</template>
<script type="application/javascript">

import Card from './Card.vue'; 
import {mapState} from 'vuex';

export default {
    components: {
        Card
    },
    data() {
        return {
            search: "",
        }
    },
    computed:{
        ...mapState(['results', 'err'])
    },
    methods: {
        async retrieveSearch(){
            await this.$store.dispatch('getResults', this.search)
        },
    }
}
</script>

<style>
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,21,21,1) 35%, rgba(61,64,65,1) 100%);
}
</style>